.container{
    max-width: 1366px;
    margin: 0 auto;
    .title{
        color: #707070;
        text-align: center; 
    }
    .body{
        
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    .content{
        justify-content: s;
    }
    
}

