@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:not(:disabled) {
  cursor: pointer;
}


.Home_box2__VoZWc{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}




.Home_box1__TY5HO{
  width: 300px !important;
}

.Home_box2__VoZWc {
  width: 500px !important;
}

.tabs {
  list-style: none;
  padding-right: 2.5rem;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
}

.active-tabs  {
  color: #449ce1;
  font-weight: bold;
}

.rdrCalendarWrapper{
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.inputBox{
   padding: 1rem 2rem ;
   border-radius: 50px;
   border: 1px solid;
   margin-top: 0.7rem;
   border: 1px solid #70707056;
}


.hide {
  display: none;
}
.instructions {
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 0.5rem;
  background: rgb(238, 237, 237);
  color: rgb(58, 58, 58);
  padding: 1rem;
  position: relative;
  bottom: -10px;
  margin: 0 !important;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}


.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.55rem;
}


.content {
  background: white;
  padding: 20px;
  margin-top: 1.5rem;
  width: 100%;
  height: 100%;
  display: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;


}

.active-content {
  display: block;
}

