.header {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  z-index: 999;

  .submenu {
    display: flex;
    align-items: center;
    border: 1px solid #b3b3b385;
    border-radius: 50px;
    width: "auto";
    justify-content: space-between;
    transition: all 800ms ease-in-out;

    .profile {
      display: flex;
      align-items: center;
      padding: 2px;
    }

    .toggle {
      display: flex;
      align-items: center;
      padding: 2px;

      .btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .icons {
        width: 40px;
        height: 40px;
        padding-right: 5px;
        color: #707070;
      }
    }

    .btnw {
      background-color: #449ce1;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    border: 1px solid #b3b3b385;
    border-radius: 50px;
    width: "auto";
    justify-content: space-between;
    transition: all 800ms ease-in-out;

    .profile {
      display: flex;
      align-items: center;
      padding: 2px;
    }

    .toggle {
      display: flex;
      align-items: center;
      padding: 2px;

      .btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .icons {
        width: 40px;
        height: 40px;
        padding-right: 5px;
        color: #707070;
      }
    }
  }
}

.hero {
  .blob1 {
    width: 570px;
    position: absolute;
    bottom: 2rem;
    left: 0;
    filter: blur(50px);
  }

  .blob2 {
    width: 570px;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(50px);
  }

  .blob3 {
    width: 570px;
    position: absolute;
    top: 2rem;
    right: 50%;
    filter: blur(50px);
  }

  .blob4 {
    width: 570px;
    position: absolute;
    top: 3rem;
    right: 20%;
    filter: blur(50px);
  }

  .container {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    height: 100%;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;

      z-index: 10000;

      .boxConatiner {
        .grid {
          width: 999px;
          height: 100%;
         
          display: grid;
          grid-template-columns: 40% 60%;

          .sec2 {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem 0;
            align-items: center;

            .h1 {
              color: #449ce1;
              font-size: 42px;
              font-family: "Ubuntu", sans-serif;
              text-align: center;
              margin-top: 1rem;
            }

            .form {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .btn {
                background-color: #449ce1;
                border-radius: 50px;
                border: none;
                font-size: 18px;
                margin-top: 2rem;
                font-family: "Ubuntu", sans-serif;
                transition: all 0.4s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                padding: 20px 5rem;
                color: #fff;

                &:hover {
                  transform: translateY(-8px);
                 
                }
                
              }

              .inputAll{
                display: flex;
                justify-content: space-between;
                gap: 20px;
              .inputGrop {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                gap: 10px;
                .input {
                  background-color: #fff;
                  font-weight: 300;
                  border-radius: 30px;
                  padding: 15px ;

                  font-size: 16px;
                  font-style: italic;
                  outline: none;
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
                    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                  border: none;
                }
              }
            }

           
              .inputGrop2 {
                width: 100%;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                gap: 10px;
              
                .input {
                  background-color: #fff;
                  font-weight: 300;
                  width: 100%;
                  border-radius: 30px;
                  padding:15px;
                  font-size: 16px;
                  font-style: italic;
                  outline: none;
                  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
                    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                  border: none;
                }
              }
            }
          }

          .sec1 {
            background-color: #449ce1;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px !important;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .h1 {
              color: #fff;
              font-size: 42px;
              font-family: "Ubuntu", sans-serif;
              text-align: center;
              margin-top: 1rem;
            }

            .p {
              color: #fff;
              font-size: 16px;
              font-weight: 300;
              font-style: italic;
              margin-top: 5px !important;
              font-family: "Ubuntu", sans-serif;
              margin-bottom: 5rem;
              line-height: 25px;
              text-align: center;
            }

            .btn {
              background-color: #fff;
              color: #449ce1;
              font-family: "Ubuntu", sans-serif;
              border: none;
              font-size: 18px;
              border-radius: 50px;
              box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
              padding: 15px 5rem;
              transition: all 0.4s ease-in-out;

              &:hover {
                transform: translateY(-8px);
               
              }
            }
          }
        }
      }
    }
  }
}
